@import "tailwindcss";

/* 'game-dark': '#0a0a0a',
'game-card': '#1a1a1a',
'rog-blue': '#00b4d8',
'sidebar': '#141414', */

button {
  cursor: pointer;
}

@theme {
  /* Light theme colors */
  --color-game-dark: #0a0a0a;
  --color-game-card: #1a1a1a;
  --color-rog-blue: #00b4d8;
  --color-sidebar: #141414;
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-in {
  animation: slide-in 0.3s ease-out forwards;
}
